.header {
	display: flex;
	justify-content: flex-start;
	height: 90px;
	padding-left: 20px;
	align-items: center;
	background-color: #2c2743;
	color: white;
	font-size: 50px;
	margin-bottom: 5px;

}
.logo {
	margin-right: 10px;
}
i {
	min-width: 35px;
}
.logo {
	margin-right: 7px;
}
.content {
	display: flex;
	flex-direction: row;
}
.sidebar {
	width: 83px;;
	background-color: #534d70;
	color: white;
	height: 536px;
	margin-top: 2px;
	transition: all 0.3s ease;
	overflow: hidden;
	white-space: nowrap;
	z-index: 11;
	box-shadow: 0px 0px 3px 2px #3f3f3f;
	border-radius: 0px 5px 5px 0px;
}
.sidebar:hover{
	width: 280px;
}
.menu-option {
	z-index: 0;
    display: flex;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
}
.menu-option:hover{
	background-color: #74727a;
}
.sidebar-icon {
	font-size: 30px !important;
	padding: 38px 25px 38px 25px;
}
.sidebar-action {
	font-size: 20px;
	display: inline-block;
}

.pannel {
	height: 540px;
	flex: 16;
	background-color: #ffffff;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
}
.info-box {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 98%;
    background-color: #f0f0f0;
    box-shadow: -2px 2px 4px 1px #4f4f4f;
    border-radius: 8px;
    color: white;
}
.indicator {
	display: inline-block;
    width: 1px;
    z-index: 1;
}
img {
	width: 770px;
    height: 540px;
}